body{
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}    
/* Header design start */
h1{
    margin: 0;
}
.first-hr{
    border-bottom: 1 px solid rgb(120, 115, 115);
    color: red;
    margin-top: 20px;
}
.header-main{
    background-color:#562eFF;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    
}
.header-body{
    width: 60%;
    margin: 0 auto;
    padding: 0;
    display: flex;
}
.nav-item{
    list-style: none;
    display: flex;
}
.nav-item li{
    margin-left: 20px;
} 
.nav-item li a{
    text-decoration: none;
    color: white;
}
.right-nav-section{
    margin-left:400px;
    font-size: 20px;
}
.profile-photo{
    width:40px ;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}  
.list-item{
   padding-top:20px ;
}
.header-body h1{
    padding-top: 20px;
    font-size: 50px;
}

/* Header design end */

/* main design start */

.main-body{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
}
.Top-player h1{
    color: #562EFF;
    margin-top: 10px;
    margin-left: 10px;
}
.player-jon img{
    width:60px;
    height:60px;
    border-radius: 30px;
    padding: 0 !important;
    margin-top: 20px;
}
.player-jon{
    display: flex;
}
.name-jon{
    margin-top:36px;
    margin-left: 15px;
}
.all-players{
    display: grid;
    grid-template-columns: repeat(3,4fr);
    grid-gap: 20px;
    margin-left: 30px;
}
/* top blog design start */
.top-design{
    color: #562EFF;
    margin-top: 20px;
    margin-left: 10px;
}
.single-blog img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.single-blog{
    display:flex;
}
.blog-second{
   margin-left: 20px;
   font-size: 15px;  
}
.blog-second-p{
    font-size: 14px;
    color: rgb(192, 4, 205);
}
.blogs{
   margin-top: 25px;
   margin-left: 30px;
   display:grid;
   grid-template-columns: repeat(2,6fr);
   grid-gap: 20px;
}
.blog-second h3{
    margin-top: 10px;
    font-size: 20px;
}
.design-by{
    color: gray;
}

/* top blog design end */

/* lates design start */
.design-h1{
    color: #562EFF;
    margin-top: 40px !important;
    margin-bottom: 20px;
    margin-left: 10px;
}
.main-lates{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3,4fr);
    grid-gap: 20px;
}

.main-lates img{
    height: 150px;
    width: 250px;
    border-radius: 10px;
}
.first-lates h1{
    font-size: 18px;
    margin-top: 20px;
}
.first-lates p{
    margin: 0;
    color: red;
}
.second-lates h1{
    font-size: 18px;
    margin-top: 20px;
}
.second-lates p{
    margin: 0;
    color: red;
}
.third-lates h1{
    font-size: 18px;
    margin-top: 20px;
}
.third-lates p{
    margin: 0;
    color: red;
}
.all-icon{
    display: flex;
    margin-top: 10px;
}
.first-icon{
    color: #ffc014;
}
.second-icon{
   padding: 5px 5px 5px 5px;
   background-color: pink;
   color: #ff4a60;
   border-radius: 20px;
   margin-left: 20px;
}
/* lates design End */



/* main design end */